## 1

In [1]:
a=10
b=20
a=a^b
b=a^b
a=a^b
print("a= ",a)
print("b= ",b)

a=  20
b=  10

## 2

In [2]:
num=int(input("Enter a Number : "))
if num%2==0:
    print("Its an Even Number")
else:
    print("Its an Odd Number")

Enter a Number : 3
Its an Odd Number

## 3

In [39]:
e=float(input("Enter precision : "))
num=int(input("Enter a Number : "))
i=0
while i<(num/2):
    i+=e
    if (num-i*i)<e:
        print("square root of number is ",i)
        break

Enter precision : 0.1
Enter a Number : 67
square root of number is  8.199999999999987

In [34]:
num=int(input("Enter a Number : "))
print(num**0.5)

Enter a Number : 67
8.18535277187245

## 4

In [7]:
n=int(input("Enter a Number : "))
print("Forward Series is : ")
for i in range(1,n+1):
    print(i)
print("Reverse Series is : ")
for i in range(n,0,-1):
    print(i)

Enter a Number : 5
Forward Series is :
1
2
3
4
5
Reverse Series is :
5
4
3
2
1

## 5

In [8]:
rad=int(input("Enter a radius : "))
print("Volume of Sphere is ",4/3*3.14*rad**3)

Enter a radius : 4
Volume of Sphere is  267.94666666666666

## 6

267.27680000000004

In [13]:
print("Odd Numbers are : ")
for i in range(1,101):
    if i%2!=0:
        print(i)
print("Even Numbers are : ")
for i in range(1,101):
    if i%2==0:
        print(i)

Odd Numbers are :
1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99
Even Numbers are :
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

## 7

In [17]:
import math
a=int(input("Enter a : "))
b=int(input("Enter b : "))
c=int(input("Enter c : "))
r1=(-b+math.sqrt((b**2)-4*a*c))/(2*a)
r2=(-b-math.sqrt((b**2)-4*a*c))/(2*a)
print("Roots of Equation are : ",r1,r2)

Enter a : 1
Enter b : -2
Enter c : 1
Roots of Equation are :  1.0 1.0

## 8

In [29]:
num=int(input("Enter Number : "))
digits=0
while num>0:
    num=num//10
    digits+=1
print("Number of digits are : ",digits)

Enter Number : 345
Number of digits are :  3

## 9 #good for number greater than 4

In [51]:
num=int(input("Enter Number : "))
for i in range(2,(num//2)+1):
    if num%i==0:
        break

if i==num//2:
    print("Prime")
else:
    print("Not a Prime")

Enter Number : 36
Not a Prime

In [63]:
num=int(input("Enter a Number : "))
count=0
for i in range(1,num+1):
    if count>2:
        break
    if num%i==0:
        count+=1
if count>2:
    print("Composite Number")
else:
    print("Prime Number")

Enter a Number : 36
Composite Number

## 10

In [65]:
total=0
n=int(input("Enter a Number : "))
for i in range(n):
    if i%3==0 or i%5==0:
        total+=i
print("Sum is : ",total)

Enter a Number : 17
Sum is :  60

## 11

In [78]:
n=int(input("Enter a Number : "))
key=int(input("Enter 1 for Sum and 2 for product : "))
ans=0
if key==1:
    ans=0
    for i in range(1,n+1):
        ans+=i
elif key==2:
    ans=1
    for i in range(1,n+1):
        ans*=i
else:
    print("Not Valid")
print("Answer is : ",ans)

Enter a Number : 5
Enter 1 for Sum and 2 for product : 1
Answer is :  15

## 12

In [80]:
total=0
for i in range(1000):
    if i%3==0 or i%5==0:
        total+=i
print("Sum is : ",total)

Sum is :  233168

## 13

In [81]:
for i in range(2000,3201):
    if i%7==0 and i%5!=0:
        print(i)

2002
2009
2016
2023
2037
2044
2051
2058
2072
2079
2086
2093
2107
2114
2121
2128
2142
2149
2156
2163
2177
2184
2191
2198
2212
2219
2226
2233
2247
2254
2261
2268
2282
2289
2296
2303
2317
2324
2331
2338
2352
2359
2366
2373
2387
2394
2401
2408
2422
2429
2436
2443
2457
2464
2471
2478
2492
2499
2506
2513
2527
2534
2541
2548
2562
2569
2576
2583
2597
2604
2611
2618
2632
2639
2646
2653
2667
2674
2681
2688
2702
2709
2716
2723
2737
2744
2751
2758
2772
2779
2786
2793
2807
2814
2821
2828
2842
2849
2856
2863
2877
2884
2891
2898
2912
2919
2926
2933
2947
2954
2961
2968
2982
2989
2996
3003
3017
3024
3031
3038
3052
3059
3066
3073
3087
3094
3101
3108
3122
3129
3136
3143
3157
3164
3171
3178
3192
3199

## 14

In [85]:
n=1000
print(((n*(n+1)/2)**2)-(n*(n+1)*(2*n+1)/6))

250166416500.0

## 15

In [65]:
i=input("Enter a Number : ")
total=0
count=0
avg=0
while ord(i[0]) >ord('0') and ord(i[0])<ord('9'):
    total+=int(i)
    count+=1
    avg=total/count
    i=input("Enter a Number : ")
else:
    print("Loop has been ended and total,count,avg is : ",total,count,avg)

Enter a Number : 1245
Enter a Number : 1
Enter a Number : 2
Enter a Number : 3
Enter a Number : r
Loop has been ended and total,count,avg is :  1251 4 312.75

## 21.6

In [141]:
new='A'
for i in range(4):
    for j in range(i+1):
        print(new,end=" ")
        new=chr(ord(new)+1)
    print()

A
B C
D E F
G H I J

## 22

In [144]:
total=0
a=int(input("Enter a Number : "))
for i in range(4):
    while i>=0:
        total+=a*(10**i)
        i-=1
print(total)

Enter a Number : 9
11106

## Reccursive function

In [16]:
a=input("Enter a Name : ")
i=0
def lastcapital(a,i):
        if a[len(a[i:])-1]>='A' and a[len(a[i:])-1]<='Z':
            print(a[(len(a[i:]))-1])
        else:
            i+=1
            lastcapital(a,i)
lastcapital(a,0)

Enter a Name : ParTh
T

## create a two d array of table upto 5 using list comprehension

In [43]:
d=[[(j+1)*(i+1) for j in range(5)] for i in range(10)]

In [44]:
d

[[1, 2, 3, 4, 5],
 [2, 4, 6, 8, 10],
 [3, 6, 9, 12, 15],
 [4, 8, 12, 16, 20],
 [5, 10, 15, 20, 25],
 [6, 12, 18, 24, 30],
 [7, 14, 21, 28, 35],
 [8, 16, 24, 32, 40],
 [9, 18, 27, 36, 45],
 [10, 20, 30, 40, 50]]

## create a fizz buzz program in which n is entered by user
3 ka multiple fizz
5 ka buzz
3 and 5 ka fizz buzz

In [49]:
n=int(input("Enter n : "))
for i in range(1,n+1):
    if i%3==0 and i%5==0:
        print("fizz buzz")
    else:
        if i%3==0:
            print("fizz")
        elif i%5==0:
            print("buzz")
        else:
            print(i)

Enter n : 20
1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizz buzz
16
17
fizz
19
buzz

In [1]:
n=int(input("Enter n : "))
a=["fizz buzz" if i%3==0 and i%5==0 el "fizz" if i%3==0, "buzz" if i%5==0, else i for i in range(1,n+1)]

SyntaxError: invalid syntax (<ipython-input-1-f182f2a67ff0>, line 2)

## 16

In [67]:
n=int(input("Enter a number"))
for i in range(1,n+1):
    flag=0
    for j in range(2,(i//2)+1):
        if i%j==0:
            flag=1
            break
    if flag==0:
        print(i)

Enter a number15
1
2
3
5
7
11
13

# 17

In [70]:
n=int(input("Enter a Number : "))
def fact(n):
    if n==0:
        return 1
    else:
        return n*fact(n-1)
fact(n)

Enter a Number : 5

120

# 18

In [81]:
n=int(input("Enter a Number : "))
def fibonacci(n):
    if n==1 or n==0:
        return n
    else:
#         print(fibonacci(n-1)+fibonacci(n-2))
        return (fibonacci(n-1)+fibonacci(n-2))
for i in range(n):
    print(fibonacci(i))

Enter a Number : 10
0
1
1
2
3
5
8
13
21
34

## 19

In [87]:
def lcm(a,b):
    g=max(a,b)
    l=min(a,b)
    for i in range(g,g*l+1,g):
        if i %l==0:
            print(i)
            break
lcm(4,12)

12

## 20

In [89]:
n=int(input("Enter a Number : "))
def factor(n):
    for i in range(1,n+1):
        if n%i==0:
            print(i)
factor(n)

Enter a Number : 36
1
2
3
4
6
9
12
18
36

# 21 a

In [90]:
for i in range(5):
    print("*"*(i+1))

*
**
***
****
*****

# 21 b

In [94]:
for i in range(7):
    print("*"*(7-i))

*******
******
*****
****
***
**
*

# 21 c

In [107]:
for i in range(5):
        print(str(i+1)*(i+1))

1
22
333
4444
55555

## 21 e

In [113]:
new=0
for i in range(4):
    for j in range(i+1):
        new+=1
        print(new,end=" ")
    print()

1
2 3
4 5 6
7 8 9 10